<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
</head>
<body>

  <h1 style="text-align: center; text-decoration: underline;"> Bienvenido al desafio 18 </h1>
  <br>
  <h2 style="text-align: left">. Para agregar un familiar:</h2>
  <A  HREF="http://127.0.0.1:8000/crear_persona/"> _ _ Click aqui _ _</A>

  <h3 style="text-align: left;">(Primero modificar la funcion create_person() en views.py para agrega un familiar nuevo)</h3> -->

  <br>

  <h2 style="text-align: left"> . Para ver la lista de familiares:</h2> 
  <A  HREF="http://127.0.0.1:8000/lista/"> __ Click aqui __</A>
</body>
</html>