{% extends "bienvenido.html" %}

{% block titulo %}
    <title>Lista de Familiares</title>
{% endblock %}


{% block body %}
<body style="text-align: center">
    
    <br>
    <br> 

    <!-- Hago un for para recorrer el objeto con todos los familiares-->
    <div class="container text-center">
        <div class="row align-items-start">

    {% for person in persons %}

            <div class="col">
    <!-- <h1 style= "color: rgb(96, 96, 168) ;">Nombre: {{person.name}}</h1>
    <h1 style= "color: rgb(96, 96, 168) ;">Apellido: {{person.last_name}}</h1> -->

    <h4 style= "color: rgb(96, 96, 168) ;">Nombre: {{person.name}}</h1>
    <h4 style= "color: rgb(96, 96, 168) ;">Apellido: {{person.last_name}}</h1>
    <h6>Edad: {{person.ages}}</h2>
    <h6>Vinculo: {{person.parent}}</h2>
    <h6>Fecha: {{person.date}}</h2>

    <br>
    <br> 
            </div>

    {% endfor %}
        </div>
    </div>

    <!-- Creo el boton para volver -->
    
    <a  href="http://127.0.0.1:8000/bienvenido/" type="button" class="btn btn-primary">Volver</a>

</body>
{% endblock %}

</html>



