{% extends "bienvenido.html" %}

{% block titulo %}
    <title>Agrego un Familiar</title>
{% endblock %}
</head>

{% block body%}
<body style="width: auto; margin: 0 auto; text-align: center">
  <h1 style="text-decoration: underline ; text-align: center;"> Crear Familiar</h1>
  <br>
  <br>
  <br>
  <br>
  <br>

  <!-- Si el nombre o apellido esta vacio le digo que lo modifique -->

  {% if new_person.name == "" or new_person.last_name == "" %}

  <h3 style="color: red;text-align: center">Primero modificar la funcion create_person() en views.py para agrega un familiar nuevo y reiniciar servidor</h3>
 
 <br>
 <br>
 <br>
  
  {% else %}

  <h2>Nombre: {{new_person.name}}</h2>
  <h2>Apellido: {{new_person.last_name}}</h2>    
  <h2>Edad: {{new_person.ages}}</h2>  
  <h2>Vinculo: {{new_person.parent}}</h2>  

  {% endif %}

  <br>
  <br>

  <a  href="http://127.0.0.1:8000/bienvenido/" type="button" class="btn btn-primary">Volver</a>

</body>
{% endblock %}

</html>